<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>invalid</title>
    {{>head}}
</head>
<body>
    <div class="invalid">
        <img src="https://i.postimg.cc/fT7GgFQ2/404Error.jpg" alt="error">
        <h1>{{output}}</h1>
    </div>
</body>
</html>