<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>private</title>
    {{>head}}
</head>
<body>
    {{!-- //Header --}}

    <header>

        <a href="#" class="logo">Edhas<span>Dev.</span></a>

        <div class="menu">
            <div class="hamburger" id="hamburger">
                <span class="bar bar1"></span>
                <span class="bar bar2"></span>
                <span class="bar bar3"></span>
            </div>

            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/chatbox">ChatBox</a></li>
            </ul>
        </div>

        <button class="btn" id="logOut-btn"><a style="color:inherit" href="/logout">Log Out</a></button>


    </header>

    {{!-- // Content --}}
    <div class="private-body">
        <div class="content">
            <table>
                <tr>
                    <th>S.N.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>DOB</th>
                    <th>Password</th>
                    <th colspan="2">Operations</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>DOB</td>
                    <td>Password</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </table>
        </div>    
    </div>

    <script src="script.js">
        </script>
</body>
</html>